# Problem Statement

**PROJECTO 1** <br>
**Análisis exploratorio y modelado predictivo de precios de viviendas en Barcelona usando Python y SQL**

## Objective
Desarrollar un análisis completo y un modelo predictivo para los precios de viviendas en Barcelona, utilizando datos extraídos del portal Fotocasa. El objetivo es aplicar técnicas de extracción, manipulación y análisis de datos, así como algoritmos de Machine Learning, para predecir los precios de las viviendas en función de diversas características.

## Data Description
- **price**: The price of the real-state.
- **rooms**: Number of rooms.
- **bathroom**: Number of bathrooms.
- **lift**: whether a building has an elevator (also known as a lift in some regions) or not
- **terrace**: If it has a terrace or not.
- **square_meters**: Number of square meters.
- **real_state**: Kind of real-state.
- **neighborhood**: Neighborhood
- **square_meters_price**: Price of the square meter

## Importing necessary libraries

In [24]:
import pandas as pd
import numpy as np

## Loading the Dataset

In [3]:
df=pd.read_csv('Barcelona_Fotocasa_HousingPrices.csv')

# Data Overview

In [8]:
df.head() # preview a sample first 5 rows

,Unnamed: 0,price,rooms,bathroom,lift,terrace,square_meters,real_state,neighborhood,square_meters_price
0,0,750,3,1,True,False,60,flat,Horta- Guinardo,12.500000
1,1,770,2,1,True,False,59,flat,Sant Andreu,13.050847
2,2,1300,1,1,True,True,30,flat,Gràcia,43.333333
3,3,2800,1,1,True,True,70,flat,Ciutat Vella,40.000000
4,4,720,2,1,True,False,44,flat,Sant Andreu,16.363636

In [6]:
df.tail() # preview a sample last 5 rows

,Unnamed: 0,price,rooms,bathroom,lift,terrace,square_meters,real_state,neighborhood,square_meters_price
8183,8183,1075,2,2,False,False,65,flat,Gràcia,16.538462
8184,8184,1500,3,2,True,False,110,flat,Eixample,13.636364
8185,8185,1500,2,2,True,True,90,flat,Sarria-Sant Gervasi,16.666667
8186,8186,1500,3,2,True,False,110,flat,Eixample,13.636364
8187,8187,1500,3,2,True,False,110,flat,Eixample,13.636364

In [7]:
df.sample(20) # preview a sample random n rows

,Unnamed: 0,price,rooms,bathroom,lift,terrace,square_meters,real_state,neighborhood,square_meters_price
915,915,1100,2,1,False,True,35,flat,Eixample,31.428571
6089,6089,650,1,1,False,False,34,flat,Ciutat Vella,19.117647
3373,3373,750,2,1,True,False,49,flat,Horta- Guinardo,15.306122
3847,3847,900,3,2,True,False,63,flat,Gràcia,14.285714
3075,3075,950,3,2,True,False,100,flat,Sant Martí,9.500000
7820,7820,2200,2,2,True,False,68,flat,Gràcia,32.352941
2269,2269,1350,2,1,True,True,75,attic,Eixample,18.000000
7775,7775,1250,4,2,True,False,95,flat,Sarria-Sant Gervasi,13.157895
1387,1387,1275,3,2,True,True,93,flat,Sarria-Sant Gervasi,13.709677
8054,8054,761,2,1,False,True,59,attic,Sant Andreu,12.898305
1808,1808,870,3,2,False,False,73,flat,Ciutat Vella,11.917808
5018,5018,825,3,1,False,True,70,flat,Ciutat Vella,11.785714
5512,5512,5500,3,2,True,False,140,NaN,Sarria-Sant Gervasi,39.285714
1908,1908,950,1,1,False,True,55,attic,Sant Martí,17.272727
7627,7627,2630,1,1,False,False,30,apartment,Eixample,87.666667
37,37,1400,3,2,True,False,93,flat,Sarria-Sant Gervasi,15.053763
6641,6641,930,2,1,True,False,63,flat,Sarria-Sant Gervasi,14.761905
5921,5921,1100,3,1,True,False,55,flat,Sarria-Sant Gervasi,20.000000
7093,7093,850,1,1,False,True,58,flat,Sant Martí,14.655172
5438,5438,997,3,1,True,False,80,flat,Gràcia,12.462500

In [9]:
print("There are", df.shape[0], 'rows and', df.shape[1], "columns.") # number of observations and features

There are 8188 rows and 10 columns.

In [10]:
df.dtypes # data types

Unnamed: 0               int64
price                    int64
rooms                    int64
bathroom                 int64
lift                      bool
terrace                   bool
square_meters            int64
real_state              object
neighborhood            object
square_meters_price    float64
dtype: object

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8188 entries, 0 to 8187
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           8188 non-null   int64
 1   price                8188 non-null   int64
 2   rooms                8188 non-null   int64
 3   bathroom             8188 non-null   int64
 4   lift                 8188 non-null   bool
 5   terrace              8188 non-null   bool
 6   square_meters        8188 non-null   int64
 7   real_state           7920 non-null   object
 8   neighborhood         8188 non-null   object
 9   square_meters_price  8188 non-null   float64
dtypes: bool(2), float64(1), int64(5), object(2)
memory usage: 527.9+ KB

In [13]:
df.describe(include="all").T # statistical summary of the data.

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
Unnamed: 0,8188.0,NaN,NaN,NaN,4093.5,2363.816335,0.0,2046.75,4093.5,6140.25,8187.0
price,8188.0,NaN,NaN,NaN,1444.092574,1125.886215,320.0,875.0,1100.0,1540.0,15000.0
rooms,8188.0,NaN,NaN,NaN,2.420738,1.138592,0.0,2.0,2.0,3.0,10.0
bathroom,8188.0,NaN,NaN,NaN,1.508793,0.732798,1.0,1.0,1.0,2.0,8.0
lift,8188,2,True,5710,NaN,NaN,NaN,NaN,NaN,NaN,NaN
terrace,8188,2,False,6518,NaN,NaN,NaN,NaN,NaN,NaN,NaN
square_meters,8188.0,NaN,NaN,NaN,84.610161,47.874028,10.0,56.0,73.0,95.0,679.0
real_state,7920,4,flat,6505,NaN,NaN,NaN,NaN,NaN,NaN,NaN
neighborhood,8188,10,Eixample,2401,NaN,NaN,NaN,NaN,NaN,NaN,NaN
square_meters_price,8188.0,NaN,NaN,NaN,17.739121,9.245241,4.910714,12.790698,15.306122,19.444444,186.666667

In [17]:
# Uniques
df.nunique() # Checking for number of variations in the data
for i in df.columns: # Checking uniques
    print (i,": ",df[i].unique())

Unnamed: 0 :  [   0    1    2 ... 8185 8186 8187]
price :  [  750   770  1300  2800   720  1100  1350   900  1165  1050  2500  1335
  2200   980  1500  1080   950   850  1800  2300   842  1180  1200  1400
   852  1250  1000  1600  1450  1246  1580  1950  1060  2700   625  2550
   925  1290  3000   780  1053   650  1190   660  1585  1850   710  3468
  1700   590  3300   700  2900   825  2000  2850  2057  3144  1550  2400
   976  2021  1540  4000   890  1970  1210  1185  2250  1900  3500   795
   895   995  1170   730  1750  1220   800  1195   930   990  1150  1475
  5250   702  1175  1360   690  1690  1130  5720  2290  3600  1480  1835
  2050  3200  3768  2229  2150  1806  2155  2317  2008  2040  2760  1425
  1495  3400  3800  1125   970  8482  3219  1626  1724  5000   935  1590
  5200  2600  1650  6800  6000   975  4900  8000  1975  8500  1949  1385
   550  3833  4600  3850  9075  7000  5300  4700   620   920  1085  1675
  2580   520   840   760 10000  2520  3900  2975  6500  4200  2450  1895
  2950  2750  1035   775   790   875 12000  2120  5500  1463  1839  2420
  7500  1117  2655   765  2934  2467  2278  1390  1090  1260  2070   695
  1420  3250   635  1595  1145   680   865  1320  1380  1216  2100   685
  1325  1440   997   960   833   600  3750  1275  8700  3180  1241  2970
  1272  1297  1633  3100  1157  4400   815  1870   827   575  1764   640
   725   490   870  1640   880   929  1160   940   742  1070   380   945
  1529  1520  1245  2505  1217  4500   675  2210  1410  1936  1110  1181
   595  1345   836   830   968  6213  1702  1670   740  3375  1256  1218
  1152   604   677  1230  1343  1075   785   877   899   832   763   751
   821  1980  1270  1161  1429  3630   670  3700   745  2350 14800  6126
  3080  2492  1760  2922  3540  2388  1739  2148  1211  1249  2142  2331
  2293  6998  2447  7192  4034   860  1235  7200  2140  1051  1875   679
   669  1225  1059  2790  1095  1512  2179  1905  1436  3373  2252  2288
  1661  2354  1377  2063  1643  2145  2241  1967  2969  1889  2654  2032
  5589  1504  1942  7147  1280  1790  1295  2175  1126   939  1025   647
 15000  1370   500   727   610  2581   985  4050  3961  4473  3555  1240
   915   835  1168  2650   735   779   783  1040   820   614  1418  1348
  1430  1102  1352   977   470   886  1539  1395  1133  1116   839  1795
 13272  1333  1797  1467  3450  2117  2255  2806   450   894   665  1174
   744  2637  1012   724  1073  1472   714  1169   757  1624  1140  1990
  6900  1292  2185  1761  1020  1960   762   715   799  1840  1452  1785
  1736  1103  1278   704   580   845   826  2457   936  1545  2805   560
   774   813  2090  3164   924  2095  1935   805  1098  1079  2568  1089
  3885  9500  1787  3460  1890  1575  5476  1938  1490  2195   525   951
   824   998   864  1115  1735  2303  1198   874  1024  1485   480   668
   810  1132   748   649  6886  1375  1730   887   696   817   784   788
  1015   885  1033   972   909   916  1032  2545  1825  1820  3550   778
  1045  1205  2198  4800  1187  1886  2994  2020  1279  1105  1720  2495
  1725   974   994  1354  1995  1030  1765  4750  2445  1065  1695   717
   949  1267   879  1251  1399  1136   663  1570   859  1285  1104  1248
  1306  1581  3990   530   666  1201  1054   999  1099  1364   749   425
   736   522  1028  1069  1470   942   630   738   599   965  2575  1177
   953  3067  2316  2030  2068  1963  1712 13427   794   652   944  1458
  1460  1326  1415  1047   910  3390   662   565  1771  1714   847   786
   475  1208  1010  2414  2715  2410  1827  1331  1376  2491  1654  1703
  4180  2727  1685  3505  4161  3464  4184  1120  1068  1299   891  1810
  1526   954   905  2820   868  1084   926  4300   718  3166   892  2310
  1378   927  1286   958   987   545  1674   755  1620  1007   726  1573
  1172   655  1310  3479  2161   688  3368   423   978  1023  1525  1373
  1026  1791  1680  1008  1428  2482  1184  5800   946  1188  1560  2258
  2130  1081  1732  3050  1207   570  1243  2312 13000  1880  4143  1459
   741  1219   484   793  1006  2810  1076  2872  3069  3650  2603  3717
  4093  4219  5495  2193  1610  1523  4185  3184  2473  1925  2775  4546
  3266  3343  1740   982  4166  2299  4696  1786  3489  2060  2249  3526
  4173  2931  3654  1986  2366  1783  2212  2083  1667  1438  1435  2333
  4773  2322  1833  4146  1917  1563  4583  2984   876  1021   721  9000
  1434  1261  1228  1315  1049  4290  5900   598   834  1574  1852  4569
  2652  4515  1282  2920  2543  3074  4150  1903  1662  3950  1135   645
  1775  2674  2890  2298  2022  1043  2061   989   955   962  2397  1302
  1329  3935  1999  1154  1229  3333  3668  1562  1041  1368   798  3360
 11730  6738  4333  1874  1258  1163  1363  2044  3461  3418  1894  2909
  3054  1178  1396   733  3868  2469  1034  1128  1603  2347  3339  2578
  3819  5026  3788  1330  3766   957  3862  2995  2190  2990  3478  1393
  2072  5384   921  3176  1448  2325  1443  2714  2759  1037  3596  2493
  1677  2963  3813  1929 10550  2478  1815  2980  3581  2124  3357  2480
  2246  6417  2512  1858  2670  2421  2986  1718  3437  3875  4597  1997
  4041  3025  2015  2684  1923  3245  3657  2167  4476  1952  4764  2717
  2166 13478  7074  3856  4606  2475  2104  2003  3322  4960  2644  2499
  2630  3046  5400  2108  1954  4351  2690 10750  5440  1488  1113  2946
  1215  4100  3330  2921  3171  1191  3839  3209  1046  3203  3972  1483
   705   761   320   495  2080  1114  2081  2110  2375  2280   758  2780
  1265]
rooms :  [ 3  2  1  4  5  0  7  6 10  9]
bathroom :  [1 2 3 4 7 5 6 8]
lift :  [ True False]
terrace :  [False  True]
square_meters :  [ 60  59  30  70  44 118  84 106 161  55 175 145  82  66 129  95  92 130
  76  80 102 150  90  68  45  79  65 116  93  75  98 121  78 177  51  42
 110 158 104  85 100  41 137 101  62  35  46 123 140  72  73 151  50 138
 153 113  38  61  53  77 202 171 180  74  63  48 220  40  58  47 205  28
 250  67 120  87 115  33  36 395 103 122  37 112  86  97 139  57  89  99
 147 162 173 125 193  94 208 117 107  88 146  96 200 148 218  71  52  43
 170  54  25  22 225 152  81 188 167 185 174 136 227 325 280 257 226 247
 135 155 270 260 215 400 165 160 224  29  83 178 154 124  56 240  64 350
 230 190 232 285 273 233 248 235 191  39  91 111 480 176 156 214  69 210
 287 166 211 128 105  32 184  34 305 126 109 134 133 144 265 246 228 142
 234 252 203  31 189 343 114 149  10 217 132 201 194 296 131  23 172 181
 327 182 157 159 195  26 164  20 127 207 245 450  49 119 306 163 141 277
 216 272 183  16 197 187  27 300 274 279 169 398 267 213 405 237 290 298
 259  11 256 186 241 206 429 108 262  24  18 179 313 312 168 253 276 475
 268 338  15 307 221  19 198 352 143 271 390 192 304 209 288  21 345  17
 204 380 679 255 340 318 443  14]
real_state :  ['flat' 'attic' nan 'apartment' 'study']
neighborhood :  ['Horta- Guinardo' 'Sant Andreu' 'Gràcia' 'Ciutat Vella'
 'Sarria-Sant Gervasi' 'Les Corts' 'Sant Martí' 'Eixample'
 'Sants-Montjuïc' 'Nou Barris']
square_meters_price :  [12.5        13.05084746 43.33333333 ... 12.55555556 11.12
 19.87951807]

In [16]:
# Uniques
cat_cols = df.select_dtypes(include=['category', 'object']).columns.tolist()
for column in cat_cols:
    print(df[column].value_counts())
    print("-" * 50)

real_state
flat         6505
apartment     991
attic         315
study         109
Name: count, dtype: int64
--------------------------------------------------
neighborhood
Eixample               2401
Sarria-Sant Gervasi    1396
Ciutat Vella           1365
Gràcia                  688
Sant Martí              617
Sants-Montjuïc          590
Les Corts               524
Horta- Guinardo         315
Sant Andreu             178
Nou Barris              114
Name: count, dtype: int64
--------------------------------------------------

In [15]:
# Duplicates
df.duplicated().sum() # Checking for duplicate entries in the data

np.int64(0)

# Consolidated notes on Data Overview

- There are 8188 rows and 10 columns.
- The variable 'Unnamed' represent index and should be deleted from data
- Data types are aligned with information
- There is missing data (NaN) on variable 'real_state'. To be replaced by "other"
- There are four types of real states being the most common "flat"
- Most units do not have terrace
- Most units do have lift
- The neighborhood with largest unit count is "Eixample"
- Units size goes from 10m2 to 679m2, with a mean of 84.61m2
- Units prices goes from 320EUR to 15000EUR/month, with mean of 1444EUR/month
- price range is assumed referred to monthly rent, so considered as EUR per month
- Units prices by square meter goes from 4.9EUR/m2/month to 186EUR/m2/month, with mean of 17.7EUR/m2/month
- There are units listed with cero rooms (to be investigated)
- Target variable for modeling is "price"

# Exploratory Data Analysis (EDA)

## EDA Functions

In [18]:
def univariate_numerical(data):
    '''
    Function to generate two plots for each numerical variable
    Histplot for variable distribution
    Boxplot for statistical summary 
    '''
    # Select numerical columns
    numerical_cols = data.select_dtypes(include=[np.number]).columns
    
    # Determine the number of rows and columns
    num_vars = len(numerical_cols)
    num_cols = 4
    num_rows = int(np.ceil(num_vars * 2 / num_cols))
    
    # Create a figure with the specified size
    fig, axes = plt.subplots(num_rows, num_cols, figsize=(5*num_cols, num_rows * 5))
    
    # Flatten the axes array for easy iteration
    axes = axes.flatten()
    
    # Plot each variable with a histplot and a boxplot
    for i, col in enumerate(numerical_cols):
        mean_value = data[col].mean()
        
        # Histplot with KDE
        sns.histplot(data[col], kde=True, ax=axes[i*2])
        axes[i*2].axvline(mean_value, color='r', linestyle='--')
        axes[i*2].set_title(f'Distribution of {col}')
        axes[i*2].text(mean_value, axes[i*2].get_ylim()[1]*0.8, f'Mean: {mean_value:.2f}', color='r', va='baseline', ha='left',rotation=90)
        
        # Boxplot
        sns.boxplot(y=data[col], ax=axes[i*2 + 1])
        axes[i*2 + 1].axhline(mean_value, color='r', linestyle='--')
        axes[i*2 + 1].set_title(f'Boxplot of {col}')
        axes[i*2 + 1].text(axes[i*2 + 1].get_xlim()[1]*0.8, mean_value, f'mean: {mean_value:.2f}', color='r', va='baseline', ha='right')
    
    # Hide any remaining empty subplots
    for j in range(num_vars * 2, len(axes)):
        fig.delaxes(axes[j])
    
    # Adjust layout
    plt.tight_layout()
    plt.show()

In [19]:
def univariate_categorical(data):
    '''
    Function to generate countplot for each categorical variable
    Labeled with count and percentage
    '''
    # List of categorical columns
    categorical_columns = data.select_dtypes(include=['object', 'category']).columns.tolist()
    
    # Number of columns in the grid
    num_cols = 4
    
    # Calculate the number of rows needed
    num_rows = (len(categorical_columns) + num_cols - 1) // num_cols
    
    # Create the grid
    fig, axes = plt.subplots(num_rows, num_cols, figsize=(5*num_cols, num_rows * 5), constrained_layout=True)
    axes = axes.flatten()
    
    # Plot each countplot in the grid
    for i, col in enumerate(categorical_columns):
        ax = axes[i]
        plot = sns.countplot(x=col, data=data, order=data[col].value_counts().index, ax=ax)
        ax.set_title(f'Count of {col}')
           
        # Add total count and percentage annotations
        total = len(data)
        for p in plot.patches:
            height = p.get_height()
            percentage = f'{(height / total * 100):.1f}%'
            plot.text(x=p.get_x() + p.get_width() / 2,
                      y=height + 2,
                      s=f'{height:.0f}\n({percentage})',
                      ha='center')
        
        # Limit x-axis labels to avoid overlap
        ax.set_xticklabels(ax.get_xticklabels(), rotation=45, ha='right')
    
    # Remove any empty subplots
    for j in range(i + 1, len(axes)):
        fig.delaxes(axes[j])
    
    # Show the plot
    plt.show()

## Data Preprocesing

- Missing value treatment
- Feature engineering
- Outlier detection and treatment
- Preparing data for modeling
- Any other preprocessing steps

In [48]:
data=df.copy() # Data preprocesing over a copy of original dataset

In [49]:
data.columns #Check column names

Index(['Unnamed: 0', 'price', 'rooms', 'bathroom', 'lift', 'terrace',
       'square_meters', 'real_state', 'neighborhood', 'square_meters_price'],
      dtype='object')

In [50]:
data.isna().sum() # missing values per feature

Unnamed: 0               0
price                    0
rooms                    0
bathroom                 0
lift                     0
terrace                  0
square_meters            0
real_state             268
neighborhood             0
square_meters_price      0
dtype: int64

In [51]:
data['real_state'].value_counts()

real_state
flat         6505
apartment     991
attic         315
study         109
Name: count, dtype: int64

In [52]:
data['real_state']=data['real_state'].replace(np.nan, 'other')

In [53]:
data.isna().sum() # missing values per feature

Unnamed: 0             0
price                  0
rooms                  0
bathroom               0
lift                   0
terrace                0
square_meters          0
real_state             0
neighborhood           0
square_meters_price    0
dtype: int64

In [54]:
data['real_state'].value_counts()

real_state
flat         6505
apartment     991
attic         315
other         268
study         109
Name: count, dtype: int64

In [55]:
data.drop(['Unnamed: 0'], axis=1, inplace=True)

In [56]:
data.head()

,price,rooms,bathroom,lift,terrace,square_meters,real_state,neighborhood,square_meters_price
0,750,3,1,True,False,60,flat,Horta- Guinardo,12.500000
1,770,2,1,True,False,59,flat,Sant Andreu,13.050847
2,1300,1,1,True,True,30,flat,Gràcia,43.333333
3,2800,1,1,True,True,70,flat,Ciutat Vella,40.000000
4,720,2,1,True,False,44,flat,Sant Andreu,16.363636

In [60]:
data.loc[data['rooms']==0].describe().T

,count,mean,std,min,25%,50%,75%,max
price,204.0,956.093137,993.654149,423.000000,600.000000,722.500000,850.0,10750.000000
rooms,204.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000
bathroom,204.0,1.122549,0.465226,1.000000,1.000000,1.000000,1.0,4.000000
square_meters,204.0,56.009804,62.074958,15.000000,30.000000,40.000000,58.0,679.000000
square_meters_price,204.0,18.751196,5.291655,8.910256,14.666667,18.169643,22.0,37.333333

In [70]:
data.loc[(data['rooms']==0)&(data['bathroom']==1)].describe().T

,count,mean,std,min,25%,50%,75%,max
price,188.0,890.973404,972.233948,423.000000,600.0,700.000000,825.00000,10750.000000
rooms,188.0,0.000000,0.000000,0.000000,0.0,0.000000,0.00000,0.000000
bathroom,188.0,1.000000,0.000000,1.000000,1.0,1.000000,1.00000,1.000000
square_meters,188.0,50.101064,57.048768,15.000000,30.0,39.000000,53.00000,679.000000
square_meters_price,188.0,19.060333,5.153105,9.166667,15.0,18.421053,22.08057,37.333333

## Univariate Analysis

## Bivariate Analysis

# Consolidated notes on Exploratory Data Analysis

**Functions:**
- univariate_numerical(data): Function to generate two plots for each numerical variable. Histplot for variable distribution. Boxplot for statistical summary
- univariate_categorical(data): Function to generate countplot for each categorical variable. Labeled with count and percentage

**Missing value treatment:**
- created category "other" in 'real_state' variable replacing NaN

**Feature engineering:**
- Droped variable "Unnamed: 0" having no value for modeling
- There are units with cero rooms generating inconsistencies by having multiple bathrooms

**Outlier detection and treatment**
**Preparing data for modeling**
**Any other preprocessing steps**